html{scroll-behavior: smooth}
Body{text-align: center;
margin: auto;}

#welcome{background: linear-gradient(#60ebeb 0%,#27ae60 100%);
text-align: center;
height: 700px;}



img{border-radius:50%;
width:175px;
border: dotted;
margin-top: 75px;}

#bio{text-align: center;
padding: 55px;
font-size: 20px;
font-weight: bold;}


.menu{list-style: none;
font-family: sans-serif;
top: 0px;
cursor:pointer;
position: fixed;
background-color: white;
width: 100%;
color: aqua;
margin-top: 0px;}

.list{display: inline;
padding: 10px;
font-family: cursive;
font-size: 20px;
color: darkblue;
    width: 100%;
}

.social_media h3{display: inline;}

.list:hover{background: linear-gradient(cyan,lightgreen);
text-decoration: underline;
font-size: 25px;
}

.contact1 iframe{width:100%;}





h1,h2{font-family: 'Pacifico', cursive;}

a{text-decoration: none;
font-family: sans-serif;
}
#article:hover{color: darkred;
background:linear-gradient(cyan;lightgreen);}
.Heading{text-decoration: underline;}